*{
  margin:0;
  padding:0;
}
main{
  width: 1020px;
  margin:0 auto
}
.navbar-collapse{
  margin-left: 80%;
}
.card:hover,
.card:active{
  transform: translateY(-5%);
}
.card-footer>button{
  margin-left: 65%;
}